<mat-form-field >
  <mat-select [(ngModel)]="selectedSearchOption" (selectionChange)="setSearchOption($event)" name="selectedSearchOption" [placeholder]="searchOptionsTitle">
    <mat-option *ngFor="let option of searchOptions" name="searchOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
