$small-toolbar-breakpoint: 500px;

// To allow the inner overlay (and other items) to use z-indexes greater than 1
.mat-sidenav {
  &-container, &-content {
    z-index: auto;
  }
}

mat-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;

  /* Fix icon button alignment on some Firefox configurations */
  [mat-icon-button] {
    line-height: 1;
  }
}

mat-divider {
  border-color: rgb(175, 175, 175);
}

mat-toolbar-row .spacer {
  flex: 1 1 auto;
}

.app-version {
  font-size: 70%;
}

mat-sidenav {
  background: white;
}

mat-sidenav-container {
  flex: 1;
}

/* Align icons with text */
mat-sidenav-container .mat-icon {
  vertical-align: text-top;
}

.mat-mdc-slide-toggle {
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 80%;
}

.toolbar-padding {
  visibility: hidden;
}

.connection-status {
  margin-right: 1rem;
}

.fast-switcher {
  background-color: whitesmoke;
}

.fast-switcher a.mat-mdc-tab-link > span.text {
  margin-left: 0.3rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.displayButton {
  display: none;
}

@media screen and (min-width: $small-toolbar-breakpoint) {
  .squashed-display-button {
    display: none;
  }
  .displayButton {
    display: block;
  }
}

/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
